.build {
  padding: 0;
  list-style-type: none;
}

.build li {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.build li.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.build li.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.build li.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.build li.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
